body{
	margin:0;
	padding: 0;
	background:#000;
}

p {
	font-size:4px;
	line-height:4px;
	text-align:justify;
	-webkit-background-size:cover;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background: url(new.jpg) no-repeat center/cover;
	background-attachment: scroll;
	background-size:100% 100%
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgb(225, 225, 255, 0);
}
